{% include base_path %}

<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link rel="icon" type="image/png" href="{{ base_path }}/images/icon.png" sizes="32x32">
<link rel="icon" type="image/png" href="{{ base_path }}/images/icon.png" sizes="192x192">
<link rel="icon" type="image/png" href="{{ base_path }}/images/icon.png" sizes="96x96">
<link rel="icon" type="image/png" href="{{ base_path }}/images/icon.png" sizes="16x16">

<!-- end custom head snippets -->

<!-- <script>
    MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
        },
        svg: {
            fontCache: 'global'
        }
    };
</script>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
    type="text/javascript"></script> -->
<script>
    MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
        },
        svg: {
            fontCache: 'global'
        }
    };
</script>
<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>

\(
\newcommand{\bm}[1]{\boldsymbol{#1}}
\)